* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 1rem;
}

section {
  border-top: 2px solid rgb(197, 197, 197);
  margin: 1rem 0;
  padding: 1rem;
}

h2,
h3 {
  text-align: center;
  margin: 1rem;
}

p {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

span {
  font-weight: 500;
}

select,
.card {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: white;
  border: none;
  box-shadow: 0 0 1px;
}

.states-sect {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
  justify-content: center;
}

.card {
  width: 300px;
  padding: 1rem;
}
